@model OnilneFlightBooking.Entity.UserEntity

@{
    ViewBag.Title = "SignUp";
}

<h2>SignUp</h2>
<h2>@ViewBag.message</h2>
@using (Html.BeginForm("SignUp", "User", FormMethod.Post))
{

<table>
    <tr style="border-spacing:10px">
        <td>Name</td>
        <td>
            @Html.TextBoxFor(model => model.Name)
            @Html.ValidationMessageFor(Model => Model.Name, "", new { style = "display:hidden;color:red;" })
        </td>
    </tr>
    <tr>
        <td>Mobile Number</td>
        <td>
            @Html.TextBoxFor(model => model.Mobile)
            @Html.ValidationMessageFor(Model => Model.Mobile,"",new { style = "display:hidden;color:red" })
        </td>
    </tr>
    <tr>
        <td>Date of Birth</td>
        <td>
            @Html.TextBoxFor(model => model.Dob)
            @Html.ValidationMessageFor(Model => Model.Dob, "", new { style = "display:hidden;color:red" })
        </td>
    </tr>
    <tr>
        <td>Mail Address</td>
        <td>
            @Html.TextBoxFor(model => model.Mail)
            @Html.ValidationMessageFor(model => model.Mail,"",new { style = "display:hidden;color:red" })
        </td>

    </tr>
    <tr>
        <td>Gender</td>
        <td>
            @Html.RadioButtonFor(model => model.Sex, "male")Male
            @Html.RadioButtonFor(model => model.Sex, "female")Female
            @Html.ValidationMessageFor(Model => Model.Sex, "", new { style = "display:hidden;color:red" })
        </td>
    </tr>
    <tr>
        <td>User Address</td>
        <td>@Html.TextBoxFor(model => model.UserAddress,"",new { style = "display:hidden;color:red" })</td>
    </tr>
    <tr>
        <td>Password</td>
        <td>
            @Html.TextBoxFor(model => model.Password)
            @Html.ValidationMessageFor(Model => Model.Password,"",new { style = "display:hidden;color:red" })
        </td>
    </tr>
    <tr>
        <td>Conform Password</td>
        <td>
            @Html.TextBoxFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(Model => Model.ConfirmPassword,"",new { style = "display:hidden;color:red" })
        </td>
    </tr>
    <tr>
        <td  colspan="2">
            <p>@Html.ValidationSummary(false, "", new { style = "display:hidden;color:red" })</p>
        </td>
    </tr>
    <tr>
        <td>
            <input type="submit"  value="Register"/>
        </td>
    </tr>
</table>
}

